<form action="/" method="GET" id="search-form">
    <div class="search-bar">
        <input type="text" name="search" placeholder="Search..." class="search-txt browser-default">
        <button type="submit" class="search-btn browser-default right"><i class="material-icons">search</i></button>
    </div>
</form>